

  .homeimggllrypage{
    width: 80%;
    margin: 70px auto;

    .homeimglryhead{

        font-weight: 600;
        font-size: 28px;
    }


    .homeimagegallery {
  
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px; // Adjust the gap between the grid items if necessary
      
        .home-img-galry-item {
    
      
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      



  }