.about-ita {
    background-color: #e1ecf6;
    padding: 100px 50px;
    border-radius: 8px;
    width: 80%;
    margin: 100px auto;
    
  
    .section-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      h2 {
        color: #1d4e8a;
        font-size: 24px;
        margin: 0;
      }
  
      .more-info {
        color: #1d4e8a;
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  
    .cards {
      display: flex;
      justify-content: space-between;
  
      .card {
        background-color: #ffffff00;
        border-radius: 8px;
        padding: 20px;
        width: 30%;
        text-align: left;
        box-shadow: none;

  
        .icon {
          margin-bottom: 10px;
          height: 50px;
          background-size: contain;
          background-repeat: no-repeat;
          color: red;
        }
  
        .leadership-icon {
          background-image: url('/path-to-leadership-icon.png'); // Update this with the actual path
        }
  
        .about-us-icon {
          background-image: url('/path-to-about-us-icon.png'); // Update this with the actual path
        }
  
        .org-chart-icon {
          background-image: url('/path-to-org-chart-icon.png'); // Update this with the actual path
        }
  
        h3 {
          color: #1d4e8a;
          font-size: 20px;
          margin: 10px 0;
        }
  
        p {
          color: #333;
          font-size: 16px;
          margin: 10px 0;
        }
  
        .cta {
          display: inline-block;
          margin-top: 10px;
          padding: 10px 20px;
          background-color: #1d4e8a;
          color: #fff;
          text-decoration: none;
          border-radius: 4px;
          font-weight: bold;
  
        
        }
      }
    }
  }
  