.floor-plan {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    gap: 10px;
    width: 80%;
    align-items: center;
}

.stall {
    padding: 20px 10px;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 5px;
}

.stall:hover{
 
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}


.stall.available {
    background-color: green;
}

.stall.reserved {
    background-color: orange;
}

.stall.confirmed {
    background-color: red;
}



.stalls-section{

    width: 80%;
    margin: 00 auto;
}