

.datatabelmain{

    .membersdatatable_section{
        .css-lapokc {
            min-width: 4ch;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: normal !important;
            font-size: 12px;
            font-weight: 600;
        }

        .css-1t5kuvk {
            font-size: 12px;
            font-weight: 600;

        }
        

    }



}